<header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
	<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="#">
		<img src="https://biogasview.com/wp-content/uploads/2020/10/cropped-logo-biogasview.png" alt="Biotrace"
			width="24" height="24">
		Biotrace
	</a>

	<ul class="navbar-nav flex-row d-md-none">
		<li class="nav-item text-nowrap">
			<button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas"
				data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
				aria-label="Toggle navigation">
				<i class="bi bi-list"></i>
			</button>
		</li>
	</ul>

	<div class="w-100">
		<h1 class="text-light text fs-2 text-center">{{ title }}</h1>
	</div>
</header>