<div class="d-flex flex-column p-3 text-white bg-dark vh-100">
    <a href="/" class="text-white text-center text-decoration-none">
        <span class="fs-4">Biotrace</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/testcomm" class="nav-link {{ 'active' if request.path == '/testcomm' else 'text-white' }} {{ 'active' if request.path == '/' }}">
                Test communication
            </a>
        </li>
        <li>
            <a href="/webdynconfig"
                class="nav-link {{ 'active' if request.path == '/webdynconfig' else 'text-white' }}">
                Configuration de la webdyn
            </a>
        </li>
        <li>
            <a href="/suivilogs" class="nav-link {{ 'active' if request.path == '/suivilogs' else 'text-white' }}">
                Suivi des logs
            </a>
        </li>
        <li>
            <a href="/pontbascule" class="nav-link {{ 'active' if request.path == '/pontbascule' else 'text-white' }}">
                Pont bascule
            </a>
        </li>
        <li>
            <a href="/webdynemul" class="nav-link {{ 'active' if request.path == '/webdynemul' else 'text-white' }}">
                Emulation de la webdyn
            </a>
        </li>
        <li>
            <a href="/config" class="nav-link {{ 'active' if request.path == '/config' else 'text-white' }}">
                Paramètres
            </a>
        </li>
    </ul>
    <hr>

</div>