bidict==0.23.1
blinker==1.7.0
certifi==2023.11.17
click==8.1.7
distlib==0.3.7
filelock==3.13.1
flake8==7.0.0
Flask==3.0.0
Flask-SocketIO==5.3.6
greenlet==3.0.3
gunicorn==21.2.0
h11==0.14.0
itsdangerous==2.1.2
Jinja2==3.1.3
mariadb==1.1.9
MarkupSafe==2.1.3
mccabe==0.7.0
packaging==23.2
pipenv==2023.11.15
platformdirs==4.0.0
pycodestyle==2.11.1
pyflakes==3.2.0
pymodbus==3.6.2
python-dotenv==1.0.0
python-engineio==4.9.0
python-socketio==5.11.1
rocher==0.44.0
simple-websocket==1.0.0
SQLAlchemy==2.0.27
typing_extensions==4.9.0
virtualenv==20.24.7
watchdog==3.0.0
Werkzeug==3.0.1
wsproto==1.2.0
