{% extends "base.jinja" %}
{% block title %}Pont bascule{% endblock title %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/litegraph.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/pontbascule.css') }}">
<script type="text/javascript" src="{{ url_for('static',filename='scripts/litegraph.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='scripts/csvParse.js') }}"></script>
{% endblock head %}
{% block content %}
<h1 class="text-center">
	Convertion des données du pont bascule
</h1>
<hr>
<div class="container">
	<div class="row">
		<div class="col">
			<fieldset class="border p-1">
				<legend class="float-none w-auto">Fichier d'entrée</legend>
				<div class="dropzone border border-2 border-dashed rounded d-flex flex-column align-items-center justify-content-center" id="drop-zone">
					<h4 class="text-center align-middle">
						<input type="file" hidden id="file-input">
						<i class="bi bi-download"></i> <br>
						Déposez les fichiers ici ou cliquez pour télécharger. <br>
					</h4>
					<span id="file-name" class="text-secondary"></span>
				</div>
			</fieldset>
		</div>
	</div>
	<div class="row" style="height: 20em;">
		<div class="col">
			<fieldset class="border p-1">
				<legend class="float-none w-auto">
					Données en entrée <span id="file-preview"></span>
				</legend>

				<monaco-editor id="inputDataContainer" value="[]" lang="json"></monaco-editor>
			</fieldset>
		</div>

		<div class="col">
			<fieldset class="border p-1">
				<legend class="float-none w-auto">
					Données en sortie
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#downloadModal">
						<i class="bi bi-download"></i>
					</button>
				</legend>

				<monaco-editor id="outputDataContainer" value="[]" readonly="true" lang="json"></monaco-editor>
			</fieldset>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<fieldset class="border p-1">
				<legend class="float-none w-auto">Traitement des données</legend>
			
				<div id="canvasContainer">
					<canvas id="litegraph-canvas" class="w-100" style="height: 70vh"></canvas>
				</div>
			</fieldset>
		</div>
	</div>
</div>

{# Toast #}
<div class="toast-container position-fixed top-0 end-0 p-3">
	<div id="toast" class="toast text-warning-emphasis bg-warning-subtle border border-warning-subtle" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="toast-body">
		</div>
	</div>
</div>

{# Modal #}
<div class="modal fade" id="downloadModal" tabindex="-1" aria-labelledby="downloadModal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">Télécharger</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="input-group mb-3">
					<span class="input-group-text" id="file-name">Nom</span>
					<input type="text" class="form-control" id="file-name-input" placeholder="Nom de fichier" value="sortie.json" aria-label="file-name"
						aria-describedby="file-name">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
				<button type="button" class="btn btn-success" id="download-btn" data-bs-dismiss="modal">Télécharger</button>
			</div>
		</div>
	</div>
</div>

	<script>
		var require = { paths: { 'vs': '/static/vs' } };
	</script>
	<script src="/static/vs/loader.js"></script>
	<script src="/static/vs/editor/editor.main.nls.js"></script>
	<script src="/static/vs/editor/editor.main.js"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='scripts/pontbascule/main.js') }}" defer></script>
	<script type="text/javascript" src="{{ url_for('static',filename='scripts/pontbascule/upload.js') }}" defer></script>
{% endblock content %}