<!-- Dans un template enfant -->
{% extends 'base.html' %}
{% block title %}Test communication{% endblock %}
{% block content %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/testcomm.css') }}">
<script type="module" src="{{ url_for('static',filename='scripts/testcomm.js') }}" defer></script>
{% endblock %}
<h1 class="text-center">Test communication avec la webdyn</h1>
<hr>

<!-- Formulaire de connexion -->
<div class="row">
	<div class="col md-5">
		<div class="d-flex flex-column bg-light border p-2 h-100">
			<label for="server-ip">Server IP-Address (IPV4)</label>
			<div class="input-group">
				<input id="ip_input" type="text" class="form-control" aria-label="127.0.0.1" placeholder="127.0.0.1"
					minlength="7" maxlength="15" size="15"
					pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$">
			</div>
			<label for="server-port">Server Port</label>
			<div class="input-group">
				<input id="port_input" type="number" min="0" max="65535" value="502" class="form-control"
					aria-label="502" placeholder="502">
			</div>
			<div class="mt-auto">
				<button id="connect_btn" type="button" class="p-1 btn w-100 btn-primary">Connect</button>
			</div>
		</div>
	</div>

	<div class="col md-5">
		<div class="border bg-light p-2 h-100">
			<div class="container d-flex flex-column h-100">
				<div class="row">
					<div class="col-6">
						<label for="inputCity" class="form-label">Starting addr</label>
						<input id="starting_addr_input" type="text" class="form-control">
					</div>
					<div class="col-6">
						<label for="inputZip" class="form-label">Size</label>
						<input id="count_input" type="text" class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<label for="type_selection" class="form-label">Type</label>
						<select id="type_selection" class="form-select">
							<option selected>int</option>
							<option>float</option>
							<option>double</option>
							<option>boolean</option>
						</select>
					</div>
					<div class="col-6">
						<label for="cf_selection" class="form-label">Read</label>
						<select id="cf_selection" class="form-select">
							<option selected>input</option>
							<option>holding</option>
							<option>coil</option>
							<option>discrete</option>
						</select>
					</div>
				</div>
				<div class="row mt-2">
					<button id="read_modbus_btn" type="button" class="p-1 btn w-100 btn-primary">Read</button>
				</div>

			</div>
		</div>
	</div>

</div>

<div class="row" style="max-height: 45vh; overflow-y: scroll; min-height: 25vh;">
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Register Addr</th>
				<th scope="col">Size</th>
				<th scope="col">Type</th>
				<th scope="col">Read</th>
				<th scope="col">Value</th>
			</tr>
		</thead>
		<tbody id="modbus_table">
		</tbody>
	</table>

</div>
<fieldset class="border p-2">
	<legend class="float-none w-auto">Logs</legend>
	<div id="logs-content">
	</div>
</fieldset>
{% endblock %}