{% extends 'base.html' %}
{% block title %}Fichier de configuration de la wedyn{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/webdynconfig.css') }}">
{% endblock %}
{% block content %}
<h1 class="text-center">Sauvegarde de la webdyn</h1>

<div class="container">
	<div class="row">
		<div class="col-12 col-lg-4">
			<fieldset class="border p-2">
				<legend class="float-none w-auto">Réglage du système de sauvegarde</legend>
				<div class="input-group pb-3">
					<span class="input-group-text">Fréquence de sauvegarde</span>
					<input type="number" class="form-control" id="frequence" value="12">
					<span class="input-group-text">jours</span>
				</div>

				<div class="input-group pb-3">
					<span class="input-group-text">Durée de conservation</span>
					<input type="number" class="form-control" id="duree" value="12">
					<span class="input-group-text">jours</span>
				</div>

				<div class="input-group pb-3">
					<span class="input-group-text">Nombre de fichiers</span>
					<input type="number" class="form-control" id="nbfichiers" value="10">
				</div>

				<div class="mt-auto">
					<button type="button" class="p-1 btn w-100 btn-primary">Enregistrer</button>
				</div>
			</fieldset>

			<fieldset class="border p-2">
				<legend class="float-none w-auto">Configs de la webdyn</legend>

				<div class="mt-auto pb-3">
					<button type="button" class="p-1 btn w-100 btn-primary">Récupérer la config actuelle</button>
				</div>
				<div class="container">
					<div id="configs_container" class="row gy-3">
						<div class="card cardConfigScript" style="display: none;" id="cardConfigScript">
							<div class="card-body">
								<h6 class="card-title">
									nom du fichier
								</h6>
								<p class="card-text">date du fichier</p>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="col-12 col-lg-8">
			<fieldset class="border p-2 h-100" id="config-fieldset" style="position: relative;">
				<legend class="float-none w-auto">Fichier de configuration</legend>

				<button type="button" id="diffButton" class="btn btn-primary" style="position: absolute;
						z-index: 30;
						top: 1px;
						right: 1px;">
					diff</button>
				<div id="container" style="height: 100%"></div>
			</fieldset>
			<button type="button" id="saveButton" class="coolAnimButton p-1 btn w-100 btn-primary"
				style="display: none;">Enregistrer</button>

		</div>
	</div>
</div>
<script>
	var require = { paths: { 'vs': '/static/vs' } };
</script>
<script src="/static/vs/loader.js"></script>
<script src="/static/vs/editor/editor.main.nls.js"></script>
<script src="/static/vs/editor/editor.main.js"></script>
<script src="{{ url_for('static',filename='scripts/webdynconfig.js') }}" type="module" defer></script>
{% endblock %}